{{#partial "content"}}
        <div class="page-header text-center text-white mt-8">
            <h1 class="mb-4">Welcome to Hero Squad.</h1>
            <p class="mb-4">Have fun creating squads and heroes.</p>
        </div>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <a class="btn btn-success" href="/animal/new" role="button">Record animal sighting</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <a class="btn btn-success" href="/endAnimal/new" role="button">Record endangerd animal sighting</a>
            </div>

            <div class="col-md-2"></div>
        </div>
{{/partial}}

{{> layout.hbs}}