{{#partial "content"}}
    <h2>Rangers</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Budge No.</th>
            <th scope="col">Contacts</th>
        </tr>
        </thead>
        <tbody>
        {{#each rangers}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{budge_number}}</td>
                    <td>{{contact}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{/partial}}
{{>layout.hbs}}